.app {
  height: 100vh;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.todolist {
  text-align: center;
  margin-bottom: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.main_title {
  padding-bottom: 20px;
  transition-property: color;
  transition-duration: 0.5s;
}

.input_item {
  border-radius: 20px;
  font-size: 15px;
  width: 300px;
  height: 35px;
  border: none;
  outline: none;
  padding-left: 30px;
  padding-right: 30px;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.input_button {
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  border: none;
  margin-left: 15px;
  width: 30px;
  height: 30px;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.items {
  border-radius: 10px;
  width: 500px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  display: flex;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.list {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.switch {
  margin-top: 3px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_checkbox {
  padding: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked+.slider {
  background-color: #8f8f8f;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}